@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
  --editor-bg-color: #fff;
  --editor-text-color: #000;
  --ui-text-color: #000;
}

/* General */

body {
  font-family: system-ui, BlinkMacSystemFont, 'Roboto', Arial, sans-serif !important;
}

/* Tags */

.tags .tag > .info > .title {
  font-weight: normal !important;
}

.tags .tag > .info > .count {
  font-weight: normal !important;
}

.tags .tag.selected > .info > .title {
  font-weight: bold !important;
}

.tags .tag.selected > .info > .count {
  font-weight: bold !important;
}

/* Notes */

.notes .note {
    color: var(--ui-text-color) !important;
    font-size: 14px !important;
    background-color: #ffffff !important;
}

.notes .note.selected {
    color: var(--ui-text-color) !important;
    font-size: 14px !important;
    background-color: #CFD8DC !important;
}

.notes .note.selected .pinned {
    color: #E91E63 !important;
}

/* Editor */

.editor-content .editable, .editor-preview, .CodeMirror, #simple-markdown #editor, #simple-markdown #preview {
  font-family: 'Roboto', 'Lato', Helvetica, Arial, sans-serif !important;
  background-color: var(--editor-bg-color) !important;
  color: var(--editor-text-color) !important;
  line-height: 1.6 !important;
}

/* Menus */

ul.section-menu-bar > li.selected {
    background-color: #f22222;
}

.dropdown-menu li:hover {
    background-color: #ffffff !important;
    color: var(--ui-text-color) !important;
}

/* Footer */

/* UI */

/* Editors */

/*SN Components */

